:root {
  --blue: #3692ff;
  --red: #f74747;
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;
  --white: #ffffff;
  --gray-border: #dfdfdf;
  --lightblue: #cfe5ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard', sans-serif;
  color: var(--gray700);
}

/* 헤더 부분입니다. */
.gnb {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray-border);
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 0 200px;
}

.login-button {
  width: 128px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  border-radius: 8px;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.09px;
  color: var(--white);
}

/* 배너 위쪽 부분 입니다. */
.banner {
  background-color: var(--lightblue);
  width: 100%;
  height: 540px;
  margin-top: 70px;
}

.banner > .content-wrap {
  margin-left: 360px;
  display: flex;
  align-items: center;
}

/* 푸터 부분입니다. */
.footer {
  background-color: var(--gray900);
  height: 160px;
  padding: 32px 200px;
}

.footer-wrap {
  display: flex;
}

.footer .info {
  color: var(--gray400);
  font-size: 16px;
  font-weight: 400;
  flex-basis: 120px;
}

.utility-wrap {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

a.utility {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray200);
}

.social-wrap {
  flex-basis: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

a.social {
  text-decoration: none;
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
}
